apiVersion: kubescheduler.config.k8s.io/v1
kind: KubeSchedulerConfiguration
clientConnection:
  kubeconfig: "{{ kube_scheduler_config_path }}/kube-scheduler.kubeconfig"
leaderElection:
  leaderElect: false
