{
  "exec-opts": ["native.cgroupdriver={{default_cgroup_driver}}"],
  "log-driver": "{{log_driver}}",
  "log-opts": {
    "max-size": "{{log_max_size}}"
  },
  "storage-driver": "{{storage_driver}}"
}
