{
  "CN": "system:node:{{ ansible_hostname }}",
  "key": {
    "algo": "{{ csr_algo }}",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ csr_country }}",
      "L": "{{ csr_city }}",
      "O": "system:nodes",
      "OU": "{{ csr_name }}",
      "ST": "{{ csr_state }}"
    }
  ]
}
