---

apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: v1.16.0
apiServer:
  extraArgs:
    advertise-address: {{ inventory_hostname.ansible_priv0.ipv4.address }}
    anonymous-auth: "false"
    enable-admission-plugins: " {{ apiserver_enable_admission_plugins }} "
    audit-log-path: "{{ apiserver_audit_log_path }}"
    audit-log-format: "{{ log_format }}"
