{
  "cniVersion": "1.1.0",
  "name": "bridge",
  "plugins": [
    {
      "type": "bridge",
      "bridge": "cni0",
      "isGateway": true,
      "isMasp": true,
      "ipam": {
        "type": "host-local",
        "subnet": "10.0.{{ host_index }}.0/24",
        "routes": [
            {"dst": "0.0.0.0/0"}
        ]
      },
      "dns": {
        "nameservers": [ "10.0.0.2" ]
      }
    },
    {
        "type": "portmap",
        "capabilities": {"portMappings": true},
        "externalSetMarkChain": "CNI-HOSTPORT-DNAT"
    }
  ]
}
