kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
authentication:
  anonymous:
    enabled: false
  webhook:
    enabled: true
  x509:
    clientCAFile: "/var/lib/kubernetes/ca.pem"
authorization:
  mode: Webhook
clusterDomain: "cluster.local"
clusterDNS:
  - "{{ ansible_facts.dns.nameservers.0 }}"
podCIDR: "{{ ansible_facts.default_ipv4.network }}/24"
resolvConf: "/etc/resolv.conf"
runtimeRequestTimeout: "15m"
tlsCertFile: "/var/lib/kubernetes/kubelet/worker-1.pem"
tlsPrivateKeyFile: "/var/lib/kubernetes/kubelet/worker-1-key.pem"
cgroupDriver: "systemd"
registerNode: true
