[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/local/bin/kubelet \
  --config=/var/lib/kubernetes/kubelet/config.yaml \
  --container-runtime-endpoint=unix:///var/run/cri-dockerd.sock \
  --kubeconfig=/var/lib/kubernetes/kubelet/kubeconfig \
  --hostname-override={{ hostname }} \
  --authorization-mode=Webhook \
  --authentication-token-webhook=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
