[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/local/bin/kubelet \
  --config=/var/lib/kubernetes/kubelet/config.yaml \
  --container-runtime=remote \
  --container-runtime-endpoint=unix:///var/run/cri-dockerd.sock \
  --image-pull-progress-deadline=2m \
  --kubeconfig=/var/lib/kubernetes/kubelet/kubeconfig \
  --network-plugin=cni \
  --register-node=true \
  --hostname-override=worker-0 \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
